    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-style: normal;
        list-style: none;
        color: #fff;
        outline: none;
    }
    
    button {
        cursor: pointer;
    }
    
     :root {
        --black_bg: #161616;
        --black_text: #292929;
        --gray: #212121;
        --gray_two: #303030;
        --gray_bg: #EAEAEA;
        --gray_line: #494949;
        --gray_line_two: #C5C5C5;
        --gray_text: #949494;
        --gray_text_two: #969696;
        --red: #F4553F;
        --red_two: #FF6752;
        --red_text: #FBC7C0;
        --white: #FFFFFF;
    }
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 9.5px;
        text-transform: uppercase;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 120.833%;
        text-transform: uppercase;
    }
    
    h3 {
        font-family: 'Mulish', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    
    h4 {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 136.5%;
        text-transform: uppercase;
        font-family: 'Mulish', sans-serif;
    }
    
    p {
        font-family: 'Mulish', sans-serif;
    }
    
    body,
    html {
        background: var(--black_bg);
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Mulish', sans-serif;
    }
    
    .wrapper {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
    
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        background: var(--black_bg);
        z-index: 9999;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    
    .header ul {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    .header ul li a {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .call_btn {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 166%;
        font-family: 'Mulish', sans-serif;
        color: var(--white);
        display: inline-flex;
        height: 56px;
        padding: 0px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 1px solid var(--gray_line);
        background: none;
    }
    
    .soc_box a {
        cursor: pointer;
    }
    
    .soc_box,
    .soc_flex {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
    .soc_flex a {
        background: #212121;
        width: 40px;
        height: 40px;
        border-radius: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease-in-out;
    }
    
    .soc_flex a:hover {
        transition: background 0.3s ease-in-out;
        background: #4e4e4e;
    }
    
    #main {
        height: 100%;
        max-height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
    }
    
    #main::after {
        position: absolute;
        display: block;
        content: ' ';
        width: 100%;
        height: 100%;
        background: url(../img/main_after.svg);
    }
    
    .main {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
    
    .main p {
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: 490px;
    }
    
    #mission {
        margin-top: -73px;
        display: block;
        position: relative;
        background: var(--black_bg);
        border-radius: 40px 40px 0px 0px;
        padding-top: 137px;
    }
    
    .mission {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 83px;
    }
    
    .mission_info {
        max-width: 567px;
    }
    
    .mission_info p {
        max-width: 452px;
        color: var(--gray_text);
        margin: 32px 0 24px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    
    .more_btn {
        display: inline-flex;
        max-width: 155px;
        height: 56px;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 50px;
        background: none;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 1px solid var(--gray_line);
        font-family: 'Mulish', sans-serif;
    }
    
    .mission_pc_img {
        border-radius: 16px;
    }
    
    .mission_result {
        display: flex;
        width: 100%;
        max-width: 1005px;
        justify-content: space-between;
        gap: 30px;
    }
    
    .mission_result_box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        max-width: 230px;
    }
    
    .mission_result_box span {
        color: var(--red);
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 9.5px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    
    .mission_result_box p {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 155.556%;
    }
    
    #kurs {
        padding-top: 108px;
    }
    
    .kurs {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .kurs_content {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    
    .kurs_box {
        width: 100%;
        height: 400px;
        max-width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px;
        border-radius: 19px;
        background-size: cover;
    }
    
    .kurs_box_stretched {
        max-width: 700px !important;
    }
    
    .kurs_box_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .kurs_box button {
        max-width: 155px;
    }
    
    .kurs_box_flex span {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        font-family: 'Mulish', sans-serif;
        color: var(--gray_text);
    }
    
    #whom,
    #works,
    #training,
    #format {
        padding-top: 120px;
    }
    
    h2.red {
        color: var(--red);
    }
    
    .title {
        margin-bottom: 56px;
    }
    
    .whom_content,
    .works_content {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
    }
    
    .whom_box,
    .works_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        height: 350px;
        border-radius: 16px;
        background: var(--gray);
        padding: 32px;
    }
    
    .whom_box .whom_gif {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gray_two);
        margin-bottom: 38px;
    }
    
    .whom_box .whom_gif img {
        width: 32px;
        height: 32px;
    }
    
    .whom_box p,
    .works_box p,
    .training_box_cont p {
        color: var(--gray_text);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        /* 27px */
    }
    
    .works_box {
        height: 330px;
        background: none;
        border-radius: 16px;
        border: 1px solid var(--gray_line);
    }
    
    .works_box_link {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        height: 330px;
        border-radius: 16px;
        background: var(--gray);
        padding: 32px;
    }
    
    .works_box_flex {
        display: flex;
        align-items: center;
        gap: 22px;
        width: 100%;
    }
    
    .works_box_number {
        width: 48px;
        min-width: 48px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gray);
    }
    
    .btn_arrow {
        display: flex;
        width: 48px;
        height: 48px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 200px;
        margin: 0;
        background: var(--white);
    }
    
    .trainig_box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 32px 0;
        border-top: 1px solid var(--gray_line);
    }
    
    .trainig_box div {
        width: 50%;
    }
    
    .training_box_title h4 {
        max-width: 315px;
    }
    
    .training_box_cont p {
        max-width: 485px;
    }
    
    #result {
        padding-top: 87px;
    }
    
    #result .swiper-slide img {
        border-radius: 16px !important;
    }
    
    .result_title {
        margin-bottom: 120px;
        max-width: 940px;
    }
    
    .result_title h3 {
        color: var(--gray_text);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;
    }
    
    .result_title h3 span {
        border-bottom: 1px solid var(--white);
    }
    
    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 541px;
        max-height: 352px;
    }
    
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .resultSwiperBottom {
        margin-top: 40px;
    }
    
    .swiper-wrapper {
        -webkit-transition-timing-function: linear!important;
        -o-transition-timing-function: linear!important;
        transition-timing-function: linear!important;
    }
    
    .sub_title {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .sub_title h3 {
        max-width: 440px;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: unset;
    }
    
    .sub_title_num {
        font-size: 20px;
        width: 48px;
        min-width: 48px;
        height: 48px;
        border-radius: 8px;
        background: var(--red);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .format {
        width: 100%;
        border-radius: 16px;
        border: 1px solid var(--gray_line);
        padding: 40px;
    }
    
    .format_content {
        display: flex;
        margin-top: 40px;
    }
    
    .format_content div {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    .format_content div p {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .format_content div p::before {
        content: '—';
        margin-right: 5px;
    }
    
    .format_right .format_right p {
        max-width: 501px;
    }
    
    .format_content .format_left p {
        max-width: 481px;
    }
    
    .format_content .format_left {
        padding-right: 30px;
    }
    
    .format_title p {
        color: #737373;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .format {
        margin-top: 40px;
        margin-bottom: 54px;
    }
    
    .swiper-pagination {
        display: none !important;
    }
    
    .modul_slide {
        border-radius: 16px;
        background: var(--gray);
        width: 100%;
        max-width: 620px !important;
        max-height: unset;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .result_mob_h2 {
        display: none;
    }
    
    .modul_slide_header {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 32px;
    }
    
    .modul_slide_header img {
        border-radius: 72px;
        width: 108px;
        height: 108px;
    }
    
    .modul_slide_title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 325px;
    }
    
    .modul_slide_title h4 {
        font-size: 20px;
        font-style: normal;
        text-transform: unset;
        font-weight: 500;
        line-height: normal;
    }
    
    .modul_slide_cont {
        display: block;
    }
    
    .modul_slide_cont p {
        color: var(--gray_text);
        width: 100%;
        max-width: 500px;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }
    
    .modul_time {
        margin-top: 34px;
    }
    
    .modul_slide_btn {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
    .modul_slide_btn .btn {
        display: inline-flex;
        height: 48px;
        padding: 0px 16px;
        align-items: center;
        gap: 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 50px;
        background: none;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        font-family: 'Mulish', sans-serif;
        background: var(--gray_two);
    }
    
    .modul_slide_btn .btn img {
        height: 12px;
        width: 24px;
    }
    
    .mySwiper {
        margin-top: 32px;
    }
    
    .orange_btn {
        font-family: 'Mulish', sans-serif;
        color: var(--white);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: inline-flex;
        height: 64px;
        padding: 10px 32px;
        justify-content: center;
        align-items: center;
        border-radius: 200px;
        background: var(--red);
        margin-top: 64px;
    }
    
    .sub_title_two {
        margin-top: 74px;
    }
    
    .mySwiper_two {
        margin-top: 95px;
    }
    
    #format {
        padding-bottom: 120px;
    }
    
    #feedback {
        background: var(--gray_bg);
        border-radius: 40px 40px 0px 0px;
        padding-top: 120px;
    }
    
    .black_h2 {
        color: var(--black_text);
    }
    
    .feedback_slide {
        max-width: 620px;
        max-height: unset;
    }
    
    .video_feedback {
        width: 100%;
        height: 380px;
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 16px;
    }
    
    .video_feedback iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .video_preview {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 16px;
    }
    
    .video_preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .play_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        border-radius: 100px;
        border: none;
    }
    
    .feedback_slide p {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--black_text);
        margin-top: 24px;
    }
    
    #result_stud,
    #faq,
    #program {
        background: var(--gray_bg);
        padding-top: 120px;
    }
    
    .resultStudSwiper {
        margin-top: 56px;
    }
    
    .result_stud_slide {
        border-radius: 16px;
        background: #FFF;
        padding: 40px;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        max-height: unset;
    }
    
    .result_stud_header {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 32px;
    }
    
    .result_stud_header img {
        width: 88px;
        height: 88px;
        border-radius: 200px;
    }
    
    .result_stud_title {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .result_stud_title h4 {
        color: var(--black_text);
        text-transform: unset;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .result_stud_title p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--gray_text_two);
    }
    
    .result_stud_slide h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--black_text);
        text-transform: unset;
        margin-bottom: 24px;
    }
    
    .result_stud_cont {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .result_stud_cont p {
        color: var(--black_text);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        display: inline-flex;
        line-height: normal;
    }
    
    .result_stud_cont p::before {
        content: url(../img/accept_red.svg);
        margin-right: 16px;
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    
    .acc_wrapper {
        margin-top: 54px;
        display: flex;
        flex-direction: column;
    }
    
    .accordion {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .accordion_btn {
        width: 100%;
        border-radius: 16px;
        height: 80px;
        background: var(--white);
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        margin-bottom: 16px;
    }
    
    .accordion_btn span {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--black_text);
    }
    
    .accordion_content {
        padding: 24px;
        width: 100%;
        border-radius: 16px;
        background: var(--white);
        display: none;
        margin-bottom: 28px;
    }
    
    .acc_flex {
        display: flex;
        width: 100%;
    }
    
    .accordion_content h4 {
        color: var(--black_text);
        display: flex;
        align-items: center;
    }
    
    .accordion_content h4::before {
        content: '—';
        margin-right: 5px;
    }
    
    .accordion_content p {
        color: #787878;
        max-width: 544px;
    }
    
    .acc_box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .acc_box h4 {
        text-transform: none;
    }
    
    .acc_left {
        width: 50%;
        padding-right: 60px;
    }
    
    .acc_right {
        width: 50%;
        padding-right: 60px;
    }
    
    .acc_left,
    .acc_right {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .h4_black {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--black_text);
        margin-bottom: 48px;
        max-width: 414px;
        text-transform: unset;
    }
    
    .program_content {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    
    .mob_btn {
        display: none;
    }
    
    .program_box {
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--white);
        border-radius: 16px;
        padding: 32px;
    }
    
    .program_box_stretched {
        width: 100%;
        max-width: 700px;
    }
    
    .program_box_red,
    .program_box_lite {
        width: 100%;
        max-width: 540px;
    }
    
    .program_box_black {
        background: var(--black_text);
    }
    
    .program_box_red {
        background: var(--red);
    }
    
    .span_content {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    
    .span_content span {
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: inline-flex;
        height: 40px;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 200px;
    }
    
    .program_box_black .span_content span {
        background: var(--gray_two);
    }
    
    .program_box_red .span_content span {
        background: var(--red_two);
    }
    
    .title_programm_black {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 30px;
    }
    
    .title_programm_black h4 {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        text-transform: unset;
        line-height: normal;
        max-width: 425px;
    }
    
    .more_two {
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
    .more_two img {
        width: 24px;
    }
    
    .program_box_two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .program_box_two .title_programm_red h4 {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: none;
    }
    
    .program_wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .program_box_two .title_programm_red p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--red_text);
        margin: 24px 0 32px;
    }
    
    .program_box_white .span_content span {
        color: var(--gray_text);
        background: #F3F3F3;
    }
    
    .program_box_white h4 {
        color: var(--black_text);
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: unset;
        max-width: 442px;
    }
    
    .program_box_white h4 .red {
        color: var(--red);
    }
    
    .program_box_white p {
        color: var(--gray_text_two);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 370px;
    }
    
    .program_box_white .more_two {
        color: var(--black_text);
    }
    
    .program_box_three {
        width: 100%;
        max-width: 400px;
    }
    
    .program_box_three h4 {
        max-width: 236px;
        margin-top: 28px;
    }
    
    .program_box_four {
        width: 100%;
        max-width: 620px;
        position: relative;
    }
    
    .program_box_four h4 {
        max-width: 229px;
    }
    
    footer {
        border-radius: 40px 40px 0px 0px;
        background: var(--white);
        margin-top: -34px;
    }
    
    #program {
        padding-bottom: 154px;
    }
    
    .footer {
        padding: 24px 0 26px;
    }
    
    .footer_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--gray_line_two);
    }
    
    .footer_top ul {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
    .footer_top ul li a {
        font-family: 'Montserrat', sans-serif;
        color: var(--black_text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    
    .footer_bottom,
    .footer_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer_bottom {
        margin-top: 29px;
    }
    
    .footer_bottom span {
        font-family: 'Mulish', sans-serif;
        color: var(--black_text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    
    .footer_top .footer_flex a {
        font-family: 'Mulish', sans-serif;
        color: var(--black_text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    
    .oferta {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-transform: unset !important;
        color: #949494 !important;
    }
    
    .footer_flex {
        gap: 17px;
    }
    
    .footer_flex a::after {
        content: '/';
        margin-left: 17px;
    }
    
    .footer_flex a:last-child:after {
        display: none;
    }
    
    .program_box_img {
        position: absolute;
        right: 32px;
        bottom: 32px;
        z-index: 0;
    }
    
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: var(--red);
        padding: 10px;
    }
    
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(22, 22, 22, 0.80);
        justify-content: center;
        align-items: flex-start;
        z-index: 9999;
        overflow: auto;
    }
    
    .popup {
        position: relative;
        background: var(--black_bg);
        padding: 40px 40px 40px 40px;
        width: 100%;
        max-width: 900px;
        margin: 20px;
        border-radius: 8px;
        overflow-y: auto;
        border-radius: 16px;
        z-index: 10000;
        border: 1px solid var(--gray_line)
    }
    
    .close-btn {
        position: absolute;
        top: 32px;
        right: 42px;
        cursor: pointer;
        width: 45px;
        height: 40px;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        background: #161616;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .close-btn img {
        width: 24px;
        height: 24px;
    }
    
    .popup p {
        max-width: 755px;
    }
    
    .more_btn2 {
        max-width: 300px;
    }
    
    .popup .white_p {
        margin-top: 32px;
        font-size: 18px;
        color: #fff;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }
    
    .no-scroll {
        overflow: hidden;
    }
    
    .speac_flex {
        display: flex;
        gap: 48px;
        align-items: center;
    }
    
    .speac_flex img {
        width: 240px;
        height: 240px;
        border-radius: 200px;
    }
    
    .speac_cont {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .speac_cont .p_white {
        color: #fff;
        ont-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
    }
    
    .abs_stud {
        position: absolute;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        font-family: 'Mulish', sans-serif;
        display: inline-flex;
        height: 40px;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: var(--red);
        right: 434px;
        top: 270px;
    }
    
    .abs_stud::before {
        content: url(../img/abs.svg);
        position: absolute;
        width: 31.502px;
        height: 31.502px;
        transform: rotate(-355deg);
        left: -32px;
        top: 30px;
    }
    
    #result {
        position: relative;
    }
    
    #academy {
        background: var(--gray_bg);
        padding: 195px 0 118px;
        border-bottom: 1px solid #C5C5C5;
    }
    
    #history,
    #academy_video {
        background: var(--gray_bg);
        padding: 32px 0 120px;
        border-bottom: 1px solid #C5C5C5;
    }
    
    #academy *,
    #history *,
    #academy_video *,
    #autor * {
        color: var(--black_text);
    }
    
    .academy_img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-height: 666px;
        border-radius: 16px;
        overflow: hidden;
        margin: 44px 0 40px
    }
    
    .academy_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .academy_cont {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    
    .academy_cont_box {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .academy_cont_box h3 {
        text-transform: unset;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .academy_cont_box p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    
    .history {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    
    .history_cont {
        max-width: 50%;
    }
    
    .history_title {
        position: relative;
        height: 100%;
    }
    
    .history_cont {
        overflow-y: scroll;
        max-height: 325px;
    }
    
    .history_cont::-webkit-scrollbar {
        width: 3px;
        background-color: #f9f9fd;
    }
    
    .history_cont::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--gray_text);
    }
    
    .history_cont::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
    }
    
    .history_cont {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .history_cont p {
        color: var(--black_text);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .play_button {
        background: none;
    }
    
    .academy_video {
        display: flex;
        gap: 40px;
    }
    
    .academy_video .video_feedback {
        max-width: 620px;
    }
    
    .academy_video_cont {
        display: flex;
        flex-direction: column;
        gap: 42px;
    }
    
    .academy_video_cont p {
        max-width: 338px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'Montserrat', sans-serif;
    }
    
    .btn_white {
        max-width: 223px;
        border-radius: 200px;
        background: var(--white);
        display: inline-flex;
        height: 56px;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--black_text);
        font-family: 'Mulish', sans-serif;
    }
    
    #autor {
        background: var(--gray_bg);
        padding: 0 0 152px;
    }
    
    #academy_video {
        border-bottom: none;
    }
    
    .autor {
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }
    
    .autor_img {
        position: relative;
        width: 620px;
        min-width: 620px;
        height: 744px;
        border-radius: 16px;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 32px;
    }
    
    .autor_img {
        background-image: url(../img/autor.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .autor_img img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;
    }
    
    .autor_cont {
        max-width: 590px;
    }
    
    .autor_img_cont {
        position: relative;
        z-index: 9;
    }
    
    .autor_cont {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    .autor_cont p {
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    
    .autor_img_cont * {
        color: var(--white) !important;
    }
    
    .autor_img_cont h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 13px;
    }
    
    .autor_img_cont p {
        max-width: 240px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'Mulish', sans-serif;
    }
    /* эффекты */
    
    ul li a,
    .footer_bottom a {
        transition: color 0.3s ease-in-out;
    }
    
    ul li a:hover,
    .footer_bottom a:hover {
        color: var(--red_two);
        transition: color 0.3s ease-in-out;
    }
    
    .call_btn,
    .more_btn,
    .btn,
    .orange_btn {
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .call_btn:hover,
    .more_btn:hover,
    .btn:hover,
    .orange_btn:hover {
        color: var(--black_text);
        background: var(--white);
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    svg path {
        transition: fill 0.3s ease-in-out;
    }
    
    .more_btn:hover svg path,
    .btn:hover svg path {
        fill: var(--black_text);
        transition: fill 0.3s ease-in-out;
    }
    
    .kurs_box {
        background-size: 100%;
        background-position: center center;
        overflow: hidden;
        transition: background 0.3s ease-in-out;
    }
    
    .kurs_box:hover {
        background-size: 105%;
        background-position: center center;
    }
    
    .works_box_link {
        transition: background 0.3s ease-in-out;
    }
    
    .works_box_link:hover {
        background-color: var(--red);
        transition: background 0.3s ease-in-out;
    }
    
    .accordion_btn .arrow {
        transition: all 0.3s ease-in-out;
    }
    
    .accordion_btn:hover .arrow {
        transition: all 0.3s ease-in-out;
        background: #C84837;
    }
    
    .accordion_btn:active .arrow {
        transition: all 0.3s ease-in-out;
        background: var(--red);
    }
    
    .program_box_black,
    .program_box_red,
    .program_box_white {
        transition: background 0.3s ease-in-out;
    }
    
    .program_box_black:hover {
        transition: background 0.3s ease-in-out;
        background: var(--black_bg);
    }
    
    .program_box_red:hover {
        transition: background 0.3s ease-in-out;
        background: #C84837;
    }
    
    .btn_white {
        transition: background 0.3s ease-in-out;
    }
    
    .program_box_white:hover,
    .btn_white:hover {
        transition: background 0.3s ease-in-out;
        background: #F6F6F6;
    }
    
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: '' !important;
    }
    
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: '' !important;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        width: 48px !important;
        height: 48px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 200px;
        background: var(--gray_two);
        transition: background 0.3s ease-in-out;
    }
    
    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        background: var(--white);
        transition: background 0.3s ease-in-out;
    }
    
    .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 0px) !important;
    }
    
    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 0px) !important;
    }
    
    .swiper-button-prev svg,
    .swiper-button-next svg {
        width: 20px !important;
        height: 20px !important;
        transition: background 0.3s ease-in-out;
    }
    
    #result_stud,
    #faq,
    #program {
        margin-top: -3px;
    }
    
    .swiper-button-prev svg path,
    .swiper-button-next svg path {
        transition: fill 0.3s ease-in-out;
    }
    
    .swiper-button-prev:hover svg path,
    .swiper-button-next:hover svg path {
        fill: var(--black_text);
        transition: fill 0.3s ease-in-out;
    }
    
    .sw_btn {
        background: #D9D9D9;
    }
    
    .mission_result .mission_result_box:first-child span::after {
        content: '+';
    }
    
    .burger-icon {
        display: none;
    }
    
    .mission_mob_img {
        display: none;
    }